html, body {
    width: 100px;
}

.hidden {
    display: none;
}

.button {
    margin: 3% auto;
    padding: 4px;
    font-size: 0.85em;
    text-align: center;
    cursor: pointer;
    background-color: #3273dc;
    border-color: transparent;
    color: #fff;
}

.button:hover {
    background-color: #276cda;
    border-color: transparent;
    color: #fff;
}
